name: arq-wildfly-managed

on:
  push:
    paths-ignore:
      - "docs/**"
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: "maven"
      - name: Set up Database
        run: |
          docker compose up -d postgres 
          sleep 5 
          docker ps -a
      - name: Build with Maven
        run: mvn clean verify -Parq-wildfly-managed
